@page "/formulario"

<h3>Formulario</h3>

<EditForm Model="producto" OnValidSubmit="ManejadorOnSubmit">

</EditForm>


@code {
    private Producto producto = new Producto();

    private string resultado = "";

    private void ManejadorOnSubmit()
    {

    }
}

